#homepage-container {
    position: absolute;
    top: 10vh;
    left: 0;
    /* align-items: center; */
    /* justify-content: center; */
    height: 90vh;
    width: 100vw;
    background-color: transparent;
}


.homepage-title {
    position: absolute;
    top: 12%;
    font-size: 2em;
    background: none;
    z-index: 1;
    display: inline;
    left: 4em;
    text-align: left;
} 
.homepage-title:hover {
    cursor: none;
}

#title-line {    
    font-size: 100px;
    left: 0;
    padding-bottom: 1em;
} 

#tsparticles {
    /* z-index: 999999; */
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {
   
    .homepage-title {
        top: 15%;
        font-size: 2em;
        margin: 0 auto;
        left: 0;
        text-align: center;
    } 

    #title-line {
        font-size: 3em;
        text-align: center;
    }

    .tsparticles-canvas-el {
        background-color: transparent;
    }
}